@font-face {
    font-family: "Joystix Monospace";
    src: url("Fonts/joystix\ monospace.ttf");
    }

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Joystix Monospace';
    text-align: center;
    color: var(--text-color);
}

:root{
    --bg-color:#1b1b1b;
    --text-color:#f4f1de;
}

body{
    background-color: var(--bg-color);
}

header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
    max-height: 40vh;
}

.paint-colors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
    width: 80vw;
    height: 10vh;
}

.color{
    background-color: transparent;
    width: 10vh;
    height: 10vh;
}

.color:hover{
    cursor: pointer;
    filter: brightness(0.8)
}

.canvas-size{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1vw;
}

.btn-size{
    font-size: 1rem;
    border-radius: 5px;
    background-color: black;
    box-sizing: border-box;
    width: 10vh ;
    height: 5vh;
}

.btn-size:hover{
    cursor: pointer;
    filter: brightness(1.4);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 60vh;
}

.pixel-canvas{
    margin:1em;
    display: grid;
    max-height: 60vh;
    max-width: 60vh;
}

.pixel-paint{
    background-color: #f4f1de;
    border: solid .1em var(--bg-color);
}

.pixel-paint:hover{
    cursor: pointer;
    filter: brightness(0.8)
}

 @media (max-width:640px){
    .pixel-canvas{
        max-height: 90vw;
        max-width: 90vw;
    }
} 

@media (max-width:440px){
    .color{
        width: 20vw;
        height: 20vw;
    }

    .btn-size{
        width: 20vw;
        height: 12vw;
    }
}

@media (min-width:1500px){
    h1{
        font-size: 2rem;
    }
    
    p{
        font-size: 1.5rem;
    }

    .btn-size{
        font-size:1.5rem;
    }

}